/* Fontes */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* Exemplo para a fonte Bold */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Exemplo para a fonte Light */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Exemplo para a fonte Regular */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Exemplo para a fonte Medium */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Estilos Gerais */
body {
    font-family: 'MADEOkineSans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8cdc3; /* Cor de fundo similar à da imagem */
    font-size: 1rem; /* Definindo o tamanho base da fonte para 16px */
    line-height: 1.6; /* Melhorando a legibilidade */
}

/* Cabeçalho */
.social-icon {
    width: 2rem; /* Substituindo 30px por 2rem */
    height: auto;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Cabeçalho */
header {
    background-color: #f8f9fa;
    padding: 0rem 0rem;
    position: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 0;
}

/* Estilo para a logo do header */
.header-logo {
    width: 6rem;
    height: auto;
    margin-right: 1rem; /* Adiciona espaço entre a logo e os links */
}

/* Ajuste dos links do menu */
header nav .menu {
    display: flex;
    align-items: center;
}

header nav .menu a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #333;
}

/* Botão de Agendar */
.btn-agendar {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem; /* Espaçamento para afastar o botão do menu */
    height: auto;
}

/* Ajuste para não cobrir o header */
header .btn-agendar {
    position: fixed;
    top: 4.125rem;
    right: 2.5rem;
}

/* Hero Section */
.hero {
    background: url('img/marivantine.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3rem; /* Substituindo 48px */
}

.hero p {
    font-size: 1.5rem; /* Substituindo 24px */
}

/* Seções */
section {
    padding: 5rem 1.25rem; /* Substituindo 80px 20px */
}

h2 {
    text-align: center;
    margin-bottom: 2.5rem; /* Substituindo 40px */
}

.about, .services, .testimonials {
    background-color: #f4f4f4;
    margin: 1.25rem 0; /* Substituindo 20px */
}

.about p, .services p, .testimonials p {
    max-width: 50rem; /* Substituindo 800px */
    margin: 0 auto 1.25rem; /* Substituindo 20px */
    text-align: center;
}

.instagram-media {
    margin: 0 auto; /* Centraliza o vídeo horizontalmente */
    display: block;
}

/* Seção Final (CTA) */
.cta {
    text-align: center;
    padding: 5rem 1.25rem; /* Substituindo 80px 20px */
}

/* Estilo para a logo do footer */
.footer-logo {
    width: 6rem; 
    height: auto;
    margin-right: 2rem; 
}

/* Estilos para o conteúdo do rodapé */
.footer-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0.2rem 0;
}

/* Estilos para os ícones de redes sociais no rodapé */
.footer-icon {
    width: 2rem;
    height: auto;
    margin-left: 0.75rem;
    cursor: pointer;
}

/* Estilos para os links no rodapé */
.footer-links a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

/* Estilo geral do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.2rem 0;
}

footer p {
    margin-top: 0.5rem;
    font-size: 0.75rem; 
}

/* Estilo geral de imagens para github pages*/
img {
    max-width: 100%;
    height: auto;
}