/* Fontes */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* Exemplo para a fonte Bold */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Exemplo para a fonte Light */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Exemplo para a fonte Regular */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Exemplo para a fonte Medium */
@font-face {
    font-family: 'MADEOkineSans';
    src: url('fonts/MADEOkineSansPERSONALUSE-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Estilos Gerais */
body {
    
    background-image: url('img/body2.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
    background-attachment: fixed; /* Isso garante que o background não se mova com a rolagem */
    font-family: 'MADEOkineSans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem; /* Definindo o tamanho base da fonte para 16px */
    line-height: 1.6; /* Melhorando a legibilidade */
}

/* Cabeçalho */
.social-icon {
    width: 2rem; /* Substituindo 30px por 2rem */
    height: auto;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Cabeçalho */
header {
    background-color: #d6d4c3;
    padding: 0rem 0rem;
    position: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 0;
}

/* Estilo para a logo do header */
.header-logo {
    width: 6rem;
    height: auto;
    margin-right: 1rem; /* Adiciona espaço entre a logo e os links */
}

/* Ajuste dos links do menu */
header nav .menu {
    display: flex;
    align-items: center;
}

header nav .menu a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #587382;
}

header nav .menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Botão de Agendar */
.btn-agendar {
    background-color: transparent;
    color: #6f6658;
    border: none;
    cursor: pointer;
    height: auto;
    border-radius: 1rem;
}

/* Ajuste para não cobrir o header */
header .btn-agendar {
    position: fixed;
    top: 4.125rem;
    right: 2.5rem;
}

/* Hero Section */
.hero {
    background: url('img/marivantine.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    color: #575045;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3rem; /* Substituindo 48px */
}

.hero p {
    font-size: 1.5rem; /* Substituindo 24px */
}

/* Seções */
section {
    padding: 5rem 1.25rem; /* Substituindo 80px 20px */
}

h2 {
    text-align: center;
    margin-bottom: 2.5rem; /* Substituindo 40px */
}

/* About Section */
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 0.5rem solid #6f6658; /* External frame */
    border-radius: 15px;
    background-color: transparent; /* Transparent background */
}

/* Text box frame */
.text-box {
    border: 0.4rem solid #6f6658; /* Internal frame for the text */
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #d6d4c3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Inner text styling */
.text-box-inner {
    padding: 15px;
    color: #587382; /* Text color */
}

/* Image frame */
.photo-frame {
    max-width: 40%;
    border: 0.4rem solid #6f6658; /* Image frame */
    padding: 10px;
    border-radius: 10px;
    background-color: #d6d4c3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    margin-left: 20px;
}

/* Mobile version */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Stack vertically on mobile */
    }

    .text-box, .photo-frame {
        max-width: 100%; /* Full width on mobile */
        margin-bottom: 20px;
    }

    .photo-frame {
        margin-left: 0; /* Remove margin on mobile */
    }
}

/* Estilo geral da seção de serviços */
.services {
    text-align: center;
    padding: 2rem 1rem;
}

.services h2 {
    font-size: 2.5rem;
    color: #575045;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Container de serviços */
.services-container {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.service-box {
    background-color: #d6d4c3; /* Fundo bege */
    border: 0.3rem solid #575045; /* Borda marrom */
    border-radius: 1rem; /* Borda arredondada */
    padding: 2rem;
    text-align: center;
    flex: 1;
    min-width: 300px;
    max-width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services-box img {
    width: 50%;
    height: auto;
    margin-bottom: 0.5rem;
}

.service-box h3 {
    font-size: 2rem;
    color: #587382; /* Azul da paleta */
    margin-bottom: 0.5rem;
}

.service-box p {
    font-size: 1.2rem;
    color: #575045; /* Marrom da paleta */
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .service-box {
        max-width: 100%;
    }
}

/* Carrossel de depoimentos */
.testimonial-carousel {
    background-color: transparent;
    padding: 2rem;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.testimonial-h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #575045;
}

.testimonials p {
    color: #587382;
}

.testimonial-item {
    flex: 1 0 calc(100% - 1rem); /* Garante que o item ocupe o espaço total menos 1rem para o espaçamento */
    transition: transform 0.5s ease-in-out;
    padding: 1rem;
    text-align: center;
    background-color: #d6d4c3;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 1rem; /* Adiciona o espaçamento entre os itens */
}

.instagram-media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #575045;
    color: #d6d4c3;
    font-weight: bold;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-prev {
    left: 1rem;
}

.carousel-next {
    right: 1rem;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: #6f6658;
}

/* Wrapper do carrossel */
.testimonial-carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden; /* Esconde os depoimentos que estão fora da tela */
}

.testimonial-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

/* Estilos da seção Final */
.cta {
    text-align: center;
    padding: 2rem;
}

.cta h2 {
    color: #575045; /* Marrom */
    font-weight: bold;
    font-size: 2rem;
}

.cta p {
    color: #575045; /* Marrom */
    font-weight: bold;
    margin: 1rem 0;
}

.cta-btn {
    background-color: #575045;
    color: #d6d4c3;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    display: inline-block;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #6f6658;
    color: #fff;
}

/* Estilo para a logo do footer */
.footer-logo {
    width: 6rem; 
    height: auto;
    margin-right: 2rem; 
}

/* Estilos para o conteúdo do rodapé */
.footer-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0.2rem 0;
}

/* Estilos para os ícones de redes sociais no rodapé */
.footer-icon {
    width: 2rem;
    height: auto;
    margin-left: 0.75rem;
    cursor: pointer;
}

/* Estilos para os links no rodapé */
.footer-links a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #d6d4c3;
    display: inline-block;
}

.footer-links a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Estilo geral do rodapé */
footer {
    background-color: #575045;
    color: #d6d4c3;
    text-align: center;
    padding: 0.2rem 0;
}

footer p {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: #d6d4c3; 
}

/* Estilo geral de imagens para github pages*/
img {
    max-width: 100%;
    height: auto;
}